.footer {
  min-height: 80px;
  margin-left: 88px;
  width: calc(100% - 98px);
  right: 0;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  margin-bottom: auto;
}
