<div class="container" >
  <div class="search">
    <div class="from-to input-group">
      <label>{{ "screen.customer.customer-code" | translate }}</label>
      <div class="from-to__input">
        <input name="from" [ngModel] id="from" type="text" /><span>~</span>
        <input name="to" ngModel id="to" type="text" />
      </div>
    </div>
    <div class="search__name input-group">
      <label>{{ "screen.customer.customer-name" | translate }}</label>
      <input name="name" ngModel type="text" />
    </div>
    <div class="group-button">
      <button class="search-btn">
        {{ "common.button.search" | translate }}
      </button>
      <button class="clear-btn">{{ "common.button.clear" | translate }}</button>
    </div>
  </div>
  <div class="table-group">
    <div class="table-group__header">
      <div class="title">検索結果一覧</div>
      <div class="download-csv">
        <mat-icon class="download" svgIcon="icon-lock"></mat-icon>
        <span>csv</span>
      </div>
    </div>
    <div class="table">
      <datatable-customer (dataRow)="dataRow($event)"></datatable-customer>
    </div>
  </div>
</div>
