<div class="container">
  <div class="search">
    <div class="from-to input-group">
      <label>{{ "screen.customer.customer-code" | translate }}</label>
      <div class="from-to__input">
        <input
          name="from"
          [(ngModel)]="serchRequest.code1"
          id="from"
          type="text"
        /><span>~</span>
        <input name="to" [(ngModel)]="serchRequest.code2" id="to" type="text" />
      </div>
    </div>
    <div class="search__name input-group">
      <label>{{ "screen.customer.customer-name" | translate }}</label>
      <input name="name" [(ngModel)]="serchRequest.name" type="text" />
    </div>
    <div class="group-button">
      <button
        class="search-btn"
        [disabled]="
          serchRequest.name || (serchRequest.code1 && serchRequest.code2)
            ? false
            : true
        "
        (click)="searchCustomerTable()"
      >
        {{ "common.button.search" | translate }}
      </button>
      <button
        [disabled]="
          serchRequest.name || serchRequest.code1 || serchRequest.code2
            ? false
            : true
        "
        (click)="clearInput()"
        class="clear-btn"
      >
        {{ "common.button.clear" | translate }}
      </button>
    </div>
  </div>
  <div class="table-group">
    <div class="table-group__header">
      <div class="title">{{ "screen.company.tbl-title" | translate }}</div>
      <div class="download-csv">
        <mat-icon class="download" svgIcon="icon-lock"></mat-icon>
        <span>csv</span>
      </div>
    </div>
    <div class="table">
      <datatable-customer></datatable-customer>
    </div>
  </div>
</div>
