<div class="header">
  <ul>
    <li>
      <a>{{header?.label | translate}}</a>
    </li>
    <mat-icon style="margin: 0 16px; width: 7px; height: 16px;"  *ngIf="header?.children" class="arrow-right" svgIcon="icon-right"></mat-icon>
      <li>
        <a routerLinkActive="active" (click)="reduceTitleBar()" 
        *ngIf="header?.children"
        [routerLink]="[header?.routeLink]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >
          {{header?.children?.label | translate}}
        </a>
      </li>
    <div *ngIf="header?.children?.children && !header?.children?.expand ; else expand" 
       class="icon-add" (click) = "expandTitleBar()"
       [routerLink]="[header?.children?.children?.routeLink]"
    >
      <mat-icon class="icon-plus" svgIcon="icon-plus"></mat-icon>
    </div>
    <ng-template #expand>
      <mat-icon style="margin: 0 16px; width: 7px; height: 16px;"  *ngIf="header?.children?.children && header?.children?.expand" class="arrow-right" svgIcon="icon-right"></mat-icon>
      <li>
        <a [routerLink]="[header?.children?.children?.routeLink]" routerLinkActive="active" *ngIf="header?.children?.children && header?.children?.expand" >{{header?.children?.children?.label | translate}}</a>
      </li>
    </ng-template>
  </ul>
  <div class="language">
    
    <button style="display: flex; align-items: center;gap: 3px;" (click)="language()"><img style="width: 24px; height: 24px" [src]="flag" > {{currentLanguage}}</button>
  </div>
</div>
