.container{
    height: 264px;
    width: calc(100% - 8px);
    background-color: white;
    margin-top: 10px;
    margin-left: 8px;
    color: black !important;
}

.button-customer{
    height: 46px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 13px;
    
}
button{
    height: 30px !important;
    border: none;
    cursor: pointer;
}
.button-customer-left button{
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    width: 72px;
    color: #4392BB;
    gap: 8px;
    padding: 4.5px 12px;
    font-weight: 500;
    font-family: 'Noto Sans JP';
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
}
.button-customer-left button:hover{
    background: #EFEFEF;
}
.button-customer-left button svg{
    color: #4392BB;
}
.button-customer-right{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 16px;
width: 264px;
box-sizing: border-box;
}
.button-customer-right button{
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    align-items: center;
    box-sizing: border-box;
}
.button-delete-customer{
    width: 80px;
    justify-content: center;
    padding: 5px;
    color: white;
    background: #EB5757;
    border: none;
    gap: 8px;
}
.button-delete-customer:hover{
    background: #CA1C1C;
}
.button-restart-customer{
    width: 80px;
    color: #EFEFEF;
    color: #4392BB;;
    font-size: 13px;
    justify-content: space-between;
    padding: 5px;
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
}
.button-restart-customer:hover{
    background: #EFEFEF;
}
.button-restart-customer  svg{
    color: #4392BB;
}
.button-save-customer{
    width: 72px;
    color: white;
    background: #4392BB;
    
    justify-content: center;
    gap: 8px;
    border: none;
}
.button-save-customer:hover{
    background: #29759C;
}
.form-customer{
    height: 218px;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    justify-content: space-between;
}
.row-top-input{
    display: flex;
    flex-direction: row;
    margin: 4px 20px 8px 20px;
}
.lbl-input{
    font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 150%;
}
mat-form-field{
    height: 32px;
    box-sizing: border-box;
    margin-top: 4px;
}
::ng-deep .mat-form-field-infix{
    padding: 0;
    border-top: 0;
}
input{
    height: 33px;
    box-sizing: border-box;
    width: 100%;
}
:host ::ng-deep input.mat-input-element:focus {
    outline: 1px solid rgb(121, 193, 214);
    border: 1px #4392BB;
    border-radius: 2px;
  }
select:focus{
    border: 1px #4392BB solid;
    border-radius: 2px;
    color: #4392BB;
}
select:focus option{
    color: black;
}
option{
    height: 20px;
}
.w-93{
    width: 95px;
    box-sizing: border-box;
}

.w-312{
    width: 314px;
    box-sizing: border-box;
}
.w-202{
    width: 204px;
    box-sizing: border-box;
}
.w-203{
    width: 205px;
    box-sizing: border-box;
}
.w-257{
    width: 259px;
}

.w-166{
    width: 168px;
}
.row-2{
    position: relative;
}
.w-639{
    width: 641px;
    height: 100%;
}
.w-530{
    width: 534px;
    position: absolute;
    top: 54px;
    right: 68PX;
}
.flex-address{
    display: flex;
    flex-direction: column;
    position: relative;
}
.flex-address-top{
    display: flex;
}
select{
    height: 32px;
    width: 100%;
}

input.ng-invalid.ng-touched{
    padding: -1px;
    border: 1px solid #EB5757;
    border-radius: 2px;
}

button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  button[disabled]:hover{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  .mat-input-element:disabled{
    background-color: #dddddd;
  }

  :host ::ng-deep .mat-form-field-wrapper{
    margin: 0 !important;
    padding: 0;
    height: 32px;
    box-sizing: border-box;
  }
  :host ::ng-deep .mat-form-field-flex{
    margin: 0 !important;
    padding: 0 !important;
    height: 32px;
    box-sizing: border-box;
  }
  :host ::ng-deep .mat-form-field-infix {
    margin: 0 !important;
    padding: 0;
    height: 32px;
    box-sizing: border-box;
    width: 100%;
  }
  :host ::ng-deep input.mat-input-element{
    margin: 0 !important;
    padding: 0;
    height: 32px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #D6D6D6;
border-radius: 2px;
  }
  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
    display: none;
    top: 0;
  }
  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline:focus{
    
    border: none;
  }
  mat-label{
    font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 12px;
color: #485764;
  }
  :host ::ng-deep .mat-form-field-subscript-wrapper {
    margin: 0 !important;
    padding: 0;
    height: 32px;
    box-sizing: border-box;
    width: 100%;
    top:0;
  }
  :host ::ng-deep  .mat-input-element:disabled{
    color: black;
  }
mat-icon{
    height: 24px;
    width: 12px;
}
#toast-container > div {
    opacity: 1;
  }
  .toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
  }
  .toast-success {
    background-color: #51A351 !important;
  }
  .toast-error {
    background-color: #BD362F !important;
  }
  .toast-info {
    background-color: #2F96B4 !important;
  }
  .toast-warning {
    background-color: #F89406 !important;
  }