<div *ngFor="let data of dataTable"> 
  {{data.customerCode}}
</div>
<div
    *ngIf="columns.length > 0 && dataSource"
    class="table-container"
  >

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- position column -->
  <ng-container matColumnDef="position" sticky>
    <th class="No" mat-header-cell *matHeaderCellDef>No.</th>
    <td class="No" mat-cell *matCellDef="let element; let j = index">
      {{ j + 1 }}
    </td>
  </ng-container>

  <!-- customerId column -->
  <ng-container matColumnDef="customerCode">
    <th class="customerCode" mat-header-cell *matHeaderCellDef>{{"screen.sales-price-unit.customerCode" | translate}}</th>
    <td class="customerCode" mat-cell *matCellDef="let element">
      {{ element.customerCode }}
    </td>
  </ng-container>

  <!-- customerName column -->
  <ng-container matColumnDef="customerName">
    <th class="customerName" mat-header-cell *matHeaderCellDef>{{"screen.company-detail.name" | translate}}</th>
    <td class="customerName" mat-cell *matCellDef="let element">
      {{ element.customerName }}
    </td>
  </ng-container>

  <!-- picName column -->
  <ng-container matColumnDef="picName">
    <th class="picName" mat-header-cell *matHeaderCellDef>{{"common.menu.master.pic" | translate}}</th>
    <td class="picName" mat-cell *matCellDef="let element">
      {{ element.picName }}
    </td>
  </ng-container>

  <!-- postCode column -->
  <ng-container matColumnDef="postCode">
    <th class="postCode" mat-header-cell *matHeaderCellDef>郵便番号</th>
    <td class="postCode" mat-cell *matCellDef="let element">
      {{ element.postCode }}
    </td>
  </ng-container>

  <!-- address column -->
  <ng-container matColumnDef="address">
    <th class="address" mat-header-cell *matHeaderCellDef>住所</th>
    <td class="address" mat-cell *matCellDef="let element">
      {{ element.address }}
    </td>
  </ng-container>

  <!-- phoneNumber column -->
  <ng-container matColumnDef="phoneNumber">
    <th class="phoneNumber" mat-header-cell *matHeaderCellDef>電話番号</th>
    <td class="phoneNumber" mat-cell *matCellDef="let element">
      {{ element.phoneNumber }}
    </td>
  </ng-container>

  <!-- faxNumber column -->
  <ng-container matColumnDef="faxNumber">
    <th class="faxNumber" mat-header-cell *matHeaderCellDef>ファックス番号</th>
    <td class="faxNumber" mat-cell *matCellDef="let element">
      {{ element.faxNumber }}
    </td>
  </ng-container>

  <!-- leadTime column -->
  <ng-container matColumnDef="leadTime">
    <th class="leadTime" mat-header-cell *matHeaderCellDef>リードタイム</th>
    <td class="leadTime" mat-cell *matCellDef="let element">
      {{ element.leadTime }}
    </td>
  </ng-container>

  <!-- routeCode column -->
  <ng-container matColumnDef="routeCode">
    <th class="routeCode" mat-header-cell *matHeaderCellDef>ルート</th>
    <td class="routeCode" mat-cell *matCellDef="let element">
      {{ element.routeCode }}
    </td>
  </ng-container>

  <!-- courseCode column -->
  <ng-container matColumnDef="courseCode">
    <th class="courseCode" mat-header-cell *matHeaderCellDef>コース</th>
    <td class="courseCode" mat-cell *matCellDef="let element">
      {{ element.courseCode }}
    </td>
  </ng-container>

  <!-- courseCode column -->
  <ng-container matColumnDef="delete" stickyEnd>
    <th class="delete" mat-header-cell *matHeaderCellDef>コース</th>
    <td class="delete" mat-cell *matCellDef="let element" >
      <mat-icon
        (click)="deleteSingleCustomer(element.customerId)"
        style="cursor: pointer"
        class="delete"
        svgIcon="icon-delete-red"
      ></mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns" ></tr>
  <tr mat-row *matRowDef="let row; columns: columns" (click)="onClickRow(row.customerId)"></tr>
</table>
</div>
