::ng-deep .mat-elevation-z8 {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 50px;

  box-shadow: none;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: scroll;


}
::ng-deep .mat-elevation-z8 tr.mat-header-row {
  height: 30px;
  th{
    padding: 0px 15px 0px 5px;

  }
}
::ng-deep .mat-elevation-z8 tr.mat-row {
  height: 38px;
  td {
    padding: 0px 15px 0px 5px;

  }

}
::ng-deep .mat-header-cell {
  border-bottom: 1px solid #FFFFFF;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #485764;
}
.mat-cell {
  font-family: "Noto Sans JP";
  font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.014em;
  color: #485764;
  border-bottom: 1px solid #f2f2f2;
  padding: 4px;
}


.btn-page{
  display: flex;
  width: 100%;
  margin-top: 15px;
  padding-bottom: 30px;

}
.btn-show{
  width: 118px;
  height: 35px;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
  color: #4392BB;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  background-color: #FFFFFF;
  border: 1px solid #D6D6D6;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  gap: 12px;
  cursor: pointer;
}
.showMore{
  width: 9px;
height: 21px;
font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 150%;
}
table {
  width: 100%;
  border-collapse: separate
}
.mat-row .mat-cell {
  cursor: pointer;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 10px;

  .col {
    display: flex;
    width: 45%;
  }

  .col.last {
    margin-right: 10px;
  }

  .date {
    margin-right: 10px;
  }
}
.table-container {
  width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}
.table-container.hidden-scroll {
  overflow-x: hidden;
}
::ng-deep .table-container {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;

}




