
.table-container {
  width: calc(100% - 20px);
  overflow: scroll;
  height: 550px;
}
::ng-deep.table-container .mat-table.mat-elevation-z8 {
  width: 100%;
  min-width: 1300px;
  max-height: 550px;
  background-color: #ffffff;
  box-shadow: none;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.mat-header-cell {
  border-bottom: 1px solid #d6d6d6;
  width: 79px;
  height: 38px;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #485764;
}
.mat-cell {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #485764;
  border-bottom: 1px solid #f2f2f2;
}

tr.mat-row:nth-child(even) {
  background-color: #FAFEFF;
}

tr.mat-row:hover {
  background-color: #CFF5FF;
}

::ng-deep.mat-row:focus {
  background-color: #ABEEFF;
}

.mat-header-row > .mat-header-cell {
  padding: 0;
}
.mat-row .mat-cell {
  height: 38px;
  padding: 0;
}

.No {
  width: 40px;
  text-align: center;
}

.customerCode {
  width: 90px;
  margin-left: 33px;
  z-index: -1;
}
.customerName {
  width: 240px;
}
.picName {
  width: 120px;
}
.postCode {
  width: 80px;
}
.address {
  width: 200px;
}
.phoneNumber {
  width: 120px;
}
.faxNumber {
  width: 120px;
}
.leadTime {
  width: 100px;
}
.routeCode {
  width: 60px;
}
.courseCode {
  width: 60px;
}
.delete {
  width: 35px;
  text-align: center;
}
